<nav [class.nav_change]="nav_variable" class="navbar navbar-dark  fixed-top" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets\logofox2.png" alt="..."[width]="60" height="60" >
    </a>
    <button class="custom navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="custom navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header"style="background-color:#0d0e1b">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Elysium</h5 >
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body"style="border-color: transparent;"style="background-color:#0d0e1b">
        <!--não ta logado-->
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link active text-end" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-end" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-end" href="/posts">Postagens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-end" href="faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-end" href="/about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-end" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-end" href="/cadastro">Cadastre-se</a>
          </li>
        </ul>

        <!--ta logado-->
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Ver todas as Postagens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile/?id={{id}}">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Faça uma Postagem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">logout</a>
          </li>
        </ul>


      </div>
    </div>
  </div>
</nav>


