<body>

  <header>

    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>

    <!-- The header content -->
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h2 class="display-3"><span>NEWS</span></h2>
          <p class="lead mb-0">Lorem ipsum dolor sit..</p>
        </div>
      </div>
    </div>
  </header>

   <section class="publicaciones-blog-home">
            <div class="container">
              <div class="">
                <div class="row-page row">
                  <div class="col-page col-sm-8 col-md-6">
                    <a href="" class="black fondo-publicacion-home">
                      <div class="img-publicacion-principal-home">
                        <img class="" src="assets\blog_post_1.jpg">
                      </div>
                      <div class="contenido-publicacion-principal-home">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                      </div>
                      <div class="mascara-enlace-blog-home">
                        <span>Lorem </span>
                      </div>
                    </a>
                  </div>
                  </div>
                </div>
                </div>
  </section>

  <div class="widget">
    <h3 class="widget_title">Novidades da semana</h3>
    <div class="vs-recent-post">
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\blog_post_2.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>March 01, 2020</span>
          <a href="blog.html">Rod Hatchman design with new view</a>
        </div>
      </div>
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\blog_post_2.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>March 15, 2020</span>
          <a href="blog.html">Latest tech support with responsive</a>
        </div>
      </div>
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\blog_post_2.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>March 18, 2020</span>
          <a href="blog.html">Killer poisone for enemy and war</a>
        </div>
      </div>
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\blog_post_2.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>March 20, 2020</span>
          <a href="blog.html">Proactively dissemin ate unctionalities</a>
        </div>
      </div>
    </div>
  </div>
  