<body>

  <header>

    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>

    <!-- The HTML5 video element that will create the background video on the header -->
    <img src="assets\fliperama.jpg">

    <!-- The header content -->
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h2 class="display-3"><span>NEWS</span></h2>
          <p class="lead mb-0">Lorem ipsum dolor sit..</p>
        </div>
      </div>
    </div>
  </header>



  <div class="widget widget_tag_cloud">
    <h3 class="widget_title">Popular Tags</h3>
    <div class="tagcloud">
      <a href="blog.html">game</a>
      <a href="blog.html">E-Sport</a>
      <a href="blog.html">Online</a>
      <a href="blog.html">Play</a>
    </div>
  </div>

  <!-- News Block -->




           <section class="publicaciones-blog-home">
            <div class="container">
              <div class="">
                <div class="row-page row">
                  <div class="col-page col-sm-8 col-md-6">
                    <a href="" class="black fondo-publicacion-home">
                      <div class="img-publicacion-principal-home">
                        <img class="" src="assets\blog_post_1.jpg">
                      </div>
                      <div class="contenido-publicacion-principal-home">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                      </div>
                      <div class="mascara-enlace-blog-home">
                        <span>Lorem </span>
                      </div>
                    </a>
                  </div>
                  </div>
                </div>
                </div>
          </section>
   



           

  <div class="widget pb-0">
    <h3 class="widget_title">About Author</h3>
    <div class="vecuro_about_author">
      <div class="author-img">
        <img src="assets\blog_post_2.jpg" alt="Vecuro Author">
      </div>
      <h4 class="author-title text-white">Rod Hatchman</h4>
      <p class="author-text text-white">Compellingly productize open-source services whereas technically sound
        e-tailers.
        Objectively expedite</p>
      <ul class="author-links">
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://instagram.com/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.pinterest.com/"><i class="fab fa-twitch"></i></a></li>
        <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="widget">
    <h3 class="widget_title">Popular Post</h3>
    <div class="vs-recent-post">
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\blog_post_2.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>March 01, 2020</span>
          <a href="blog.html">Rod Hatchman design with new view</a>
        </div>
      </div>
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\blog_post_2.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>March 15, 2020</span>
          <a href="blog.html">Latest tech support with responsive</a>
        </div>
      </div>
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\blog_post_2.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>March 18, 2020</span>
          <a href="blog.html">Killer poisone for enemy and war</a>
        </div>
      </div>
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\blog_post_2.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>March 20, 2020</span>
          <a href="blog.html">Proactively dissemin ate unctionalities</a>
        </div>
      </div>
    </div>
  </div>
  <div id="categories-2" class="widget widget_categories">
    <h3 class="widget_title">Categories</h3>
    <ul>
      <li>
        <a href="#">Upcoming League</a>
        <span>15</span>
      </li>
      <li>
        <a href="#">New level Lock</a>
        <span>11</span>
      </li>
      <li>
        <a href="#">3D Game Play</a>
        <span>18</span>
      </li>
      <li>
        <a href="#">Danger Game</a>
        <span>22</span>
      </li>
      <li>
        <a href="#">Pro Players</a>
        <span>05</span>
      </li>
    </ul>
  </div>