<body>

  <div class="image-container1">
    <img src="assets/miles.jpg" alt="Imagem">
    <div class="text-overlay">News</div>
  </div>

   <section class="publicaciones-blog-home">
            <div class="container">
              <div class="">
                <div class="row-page row">
                  <div class="col-page col-sm-8 col-md-6">
                    <a href="https://valorantzone.gg/noticia/atualizacao-6-10-roda-de-sprays-e-ajustes-no-brimstone-chegam-ao-jogo/" class="black fondo-publicacion-home">
                      <div class="img-publicacion-principal-home">
                        <img class="" src="assets\bind.jpg">
                      </div>
                      <div class="contenido-publicacion-principal-home">
                        <h3>Atualização 6.10 – Roda de Sprays e ajustes no Brimstone chegam ao jogo</h3>
                        <p> Riot Games revelou, nesta terça-feira (23) a atualização 6.10 completa do VALORANT. Entre as principais novidades estão melhorias nos sprays e uma roda para os itens, rework de coleções e ajustes no Brimstone.<span>...</span></p>
                      </div>
                      <div class="mascara-enlace-blog-home">
                        <span  >Lorem </span>
                      </div>
                    </a>
                  </div>
                  </div>
                </div>
                </div>
  </section>

  <section class="publicaciones-blog-home">
    <div class="container">
      <div class="">
        <div class="row-page row">
          <div class="col-page col-sm-8 col-md-6">
            <a href="https://www.adrenaline.com.br/games/dead-cells-ja-vendeu-10-milhoes-de-copias-e-promete-novidades-ate-2025/" class="black fondo-publicacion-home">
              <div class="img-publicacion-principal-home">
                <img class="" src="assets\de.webp">
              </div>
              <div class="contenido-publicacion-principal-home">
                <h3>Dead Cells já vendeu 10 milhões de cópias e promete novidades até 2025</h3>
                <p>A desenvolvedora independente Motion Twin anunciou nesta segunda-feira (5) que já vendeu mais de 10 milhões de unidades de Dead Cells. Lançado em 2017, o game recebeu diversas atualizações desde sua estreia<span>...</span></p>
              </div>
              <div class="mascara-enlace-blog-home">
                <span>Lorem </span>
              </div>
            </a>
          </div>
          </div>
        </div>
        </div>
</section>

<section class="publicaciones-blog-home">
  <div class="container">
    <div class="">
      <div class="row-page row">
        <div class="col-page col-sm-8 col-md-6">
          <a href="" class="black fondo-publicacion-home">
            <div class="img-publicacion-principal-home">
              <img class="" src="assets\d.jpg">
            </div>
            <div class="contenido-publicacion-principal-home">
              <h3>Diablo IV - Review</h3>
              <p>Diablo 4 é um dos mais recentes lançamentos da Blizzard Entertainment. Acertando em quase todos os aspectos, de modo que se mostra um RPG de ação grandioso para jogadores novos ou mesmo aqueles que conhecem a franquia.<span>...</span></p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Lorem </span>
            </div>
          </a>
        </div>
        </div>
      </div>
      </div>
</section>
  <div class="widget">
    <h3 class="widget_title">Novidades da semana</h3>
    <div class="vs-recent-post">
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\vavava.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>Junho 01, 2023</span>
          <a href="https://valorantzone.gg/noticia/vcb-00nation-vence-oddik-e-the-union-bate-tropicaos/">VCB: 00Nation vence ODDIK e The Union bate Tropicaos</a>
        </div>
      </div>
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\capcom.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>Junho 5, 2023</span>
          <a href="https://br.ign.com/capcom/109690/news/capcom-anuncia-showcase-exclusivo-em-comemoracao-a-40o-aniversario">Capcom anuncia showcase exclusivo em comemoração a 40º aniversário</a>
        </div>
      </div>
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\yummi.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>Junho 6, 2023</span>
          <a href="https://ge.globo.com/esports/lol/noticia/2023/06/06/c-lol-patch-1312-tera-nerfs-em-khazix-e-yuumi-veja-previa.ghtml">LoL: patch 13.12 terá nerfs em Kha'Zix e Yuumi; veja prévia</a>
        </div>
      </div>
      <div class="recent-post">
        <div class="post-img">
          <img src="assets\lee.jpg" alt="Recent Post Image">
        </div>
        <div class="post-content">
          <span>Junho 8, 2023</span>
          <a href="https://ge.globo.com/esports/lol/noticia/2023/06/08/cblol-2023-ayu-fala-de-ascensao-top-1-europeu-e-teste-como-adc.ghtml">CBLOL 2023: Ayu fala de ascensão, top 1 europeu e teste como ADC</a>
        </div>
      </div>
    </div>
  </div>
