body {
  font-size: 14px;
  color: #787878;
  line-height: 1.6em;
  font-weight: 400;
  background: #0c0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "Roboto Condensed", sans-serif;
}
.btn-round-sm i {
  color: aqua;
}
.text-grey-500 {
  color: #adb5bd !important;
}
.featured-games-section {
  background-size: 100%;
  position: absolute;
  width: 100%;
  height: 26%;
  z-index: -1;
}
.per {
  margin-bottom: 10%;
}
.container-fluid {
  padding-top: 50px;
}
img {
  max-width: 154px;
  max-height: 140px;
}
.form-group img {
  border-radius: 200px;
  padding: 2px;
}

figure {
  display: block;
}

textarea {
  background-color: #1b1b1b;
  display: inline-block;
  text-align: start;
  cursor: text;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: (rgb(50, 175, 184), rgb(61, 184, 157));
  border-image: initial;
  padding: 2px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #181818;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.fw-500 {
  font-weight: 500 !important;
}
.text-grey-500 {
  color: #adb5bd !important;
}
.pe-5 {
  padding-right: 3rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.w-100 {
  width: 95% !important;
}
.rounded-xxl {
  border-radius: 15px !important;
}
.border-light-md {
  border: 2px #3da3bd solid;
}
.font-xssss {
  font-size: 12px !important;
}

.h100 {
  height: 100px !important;
}
textarea {
  text-align: center;
  resize: vertical;
}
