<div class="image-container1">
  <img src="assets/gg.webp" alt="Imagem">
  <div class="text-overlay">About</div>
</div>

  <div class="container">
    <div class="row align-items-center no-gutters">
      <div class="col-lg-6">
        <img src="assets/ss.png" alt="Imagem Alinhada" class="img-fluid">
      </div>
    </div>
  </div>



    <div class="row">
      <div class="col-md-12">

        <div class="container">
          <h2 class="lead text-truncado">BEM-VINDO A NOSSA COMUNIDADE GAMER</h2>
        </div>
        <p>


          Somos um grupo apaixonado por jogos, dedicado a proporcionar a melhor experiência para todos os entusiastas de games. Aqui você encontrará um fórum animado, notícias atualizadas e informações sobre os campeonatos mais emocionantes.

          Nosso fórum é o lugar perfeito para você se conectar com outros jogadores, compartilhar suas opiniões, discutir estratégias, pedir conselhos ou simplesmente conversar sobre os jogos que adora. Temos uma comunidade acolhedora e amigável, pronta para receber novos membros e trocar ideias. Não importa se você é um jogador casual ou competitivo, todos são bem-vindos!</p>
      </div>
    </div>









<div class="page-container">
  <div class="image-container">
    <img src="assets/sage.png" alt="Imagem Giratória">
  </div>
</div>






<div class="team-boxed">
  <div class="container">
      <div class="intro">
          <h2 class="text-center">Team </h2>
          <p class="text-center">
            Como um time, essas cinco pessoas se destacam por sua paixão pelo universo gamer e suas habilidades em diferentes
            gêneros de jogos. Bruna, Tai, Vini, Fernanda e Rafa são jogadores dedicados e talentosos, que se unem para formar um
            time imbatível. Bruna é uma líder nata, Tai é criativa e habilidosa em jogos de simulação, Vini é um mestre em jogos de
            ação e aventura, Fernanda é uma especialista em jogos de tiro em primeira pessoa e Rafa com sua criatividade e
            habilidades, é capaz de vencer qualquer desafio em jogos de mundo aberto. Juntos, eles formam um time equilibrado e
            completo, sempre prontos para enfrentar novos desafios e trazer as novidades do universo de jogos eletrônicos. Como uma
            equipe, eles se destacam não apenas por sua habilidade em jogos, mas também por sua paixão e espírito de equipe.
          </p>
      </div>
      <div class="row people">
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="assets/vini.jpeg">
                  <h3 class="name">Vini</h3>
                  <p class="title">Aventureiro</p>
                  <p class="description">
                    Vini é um jovem gamer que adora jogos eletrônicos, sendo o Devil May Cry 3 o seu favorito. Ele é muito habilidoso e
                    dedicado, passando horas jogando e se aperfeiçoando no jogo. Vini é muito competitivo e adora desafios, por isso, o
                    Devil May Cry 3 é o jogo perfeito para ele, pois exige muita habilidade e estratégia para vencer. Além disso, ele gosta
                    muito da história e dos personagens do jogo, e se identifica com o protagonista Dante por sua personalidade rebelde e
                    sua atitude destemida. Vini é um gamer apaixonado que se dedica a vencer seus jogos favoritos e compartilhar suas
                    experiências com outros jogadores.
                  </p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="assets/fe.jpeg">
                  <h3 class="name">Fernanda</h3>
                  <p class="title">Artista</p>
                  <p class="description">
                    Fernanda é apaixonada por jogos de tiro em primeira pessoa, conhecidos como FPS. Ela é muito habilidosa e precisa em
                    seus movimentos e tiros, passando horas jogando e se aperfeiçoando em diferentes jogos deste gênero. Fernanda é muito
                    competitiva e adora desafios, por isso, os jogos de FPS são perfeitos para ela, pois exigem muita habilidade e
                    estratégia para vencer. Além disso, ela gosta de participar de torneios e campeonatos de jogos de FPS, onde pode colocar
                    suas habilidades à prova e competir com outros jogadores. Fernanda é uma gamer dedicada que adora compartilhar suas
                    experiências e dicas com outros jogadores.
                  </p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="assets/bru.jpeg">
                  <h3 class="name">Bruna</h3>
                  <p class="title">Lider</p>
                  <p class="description">
                    Bruna é a líder do time e é apaixonada por jogos eletrônicos, sendo o The Witcher o seu favorito. Ela é muito habilidosa
                    e dedicada, passando horas jogando e se aperfeiçoando no jogo. Ela se identifica com a história e personagens do jogo, e
                    adora explorar os cenários e desvendar mistérios.
                  </p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <div class="box"><img class="rounded-circle" src="assets/rafa.jpeg">
                <h3 class="name">Rafa</h3>
                <p class="title">Estrategista</p>
                <p class="description">
                  Rafa é um jovem gamer e seu jogo favorito é o GTA V. Ele é muito criativo e adora explorar as possibilidades do jogo,
                  passando horas pilotando carros, motos e aviões, bem como realizando missões e interagindo com outros personagens do
                  jogo. Rafa é muito habilidoso e estratégico quando se trata de jogar GTA V, e adora desafios e situações de risco no
                  jogo. Além disso, ele gosta muito da história e dos personagens do jogo, e se identifica com o protagonista, o criminoso
                  Michael, pelo seu estilo de vida ousado e pela possibilidade de escolher seu próprio caminho no jogo.
                </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="assets/tai.jpeg">
                  <h3 class="name">Tai</h3>
                  <p class="title">Criativa</p>
                  <p class="description">
                    Tai adora jogos eletrônicos, sendo o The Sims o seu favorito. Ela é muito criativa e gosta de passar horas criando
                    personagens e construindo casas e comunidades em seus jogos. Além disso, Tai é muito atenta aos detalhes e gosta de
                    explorar todas as possibilidades do jogo. Ela adora compartilhar suas criações e dicas com outros jogadores e é muito
                    envolvida na comunidade de jogos. Tai é uma pessoa divertida e animada, e seu amor pelo The Sims reflete sua
                    personalidade criativa e imaginativa.
                  </p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>

      </div>
  </div>
</div>



