

<br><br><br><br>
<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Procure" [(ngModel)]="title" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchPost()">
                    Pesquisar
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="isLoggedIn == true; else loggedOut">
      <a href="/create">Faça um post</a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="card post-card" *ngFor="let post of post">
            <div class="media g-mb-30">
              <div class="media-body">
                <div class="g-mb-15">
                  <h5 class="h5 mb-0"><a class="titulo" href="view/?id={{post.id}}">{{ post.title }}</a></h5>
                  <span class="g-color-gray-dark-v4 g-font-size-12">{{ post.createdAt }}</span>
                </div>
                <p>{{ post.desc }}</p>
                <ul class="list-inline d-sm-flex my-0">
                  <li class="list-inline-item g-mr-20">
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" (click)="isLoggedIn ? updateLike(post.id, post.likes) : redirectToLogin()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16" style="margin-right: 5px;">
                        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                      </svg>
                      <span id="lik">{{ post.likes }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #loggedOut>
      <a class="centered-text" href="/cadastro">Vamos criar uma conta para fazer um post</a>
    </ng-template>

