/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'Roboto Condensed', sans-serif;
   margin:0px;
   padding:0px;
   border:none;
   outline:none;
   font-size: 100%;
   line-height: inherit;
}

body{
    background-color: #0e0e1b;
  --navbar-scroll: transparent;
  --navbar-scroll-text: white;
  --navbar-scroll-shadow: none;
 }
:root {
  --e-global-color-primary: #ffffff;
  --e-global-color-secondary: #ffffff;
  --e-global-color-text: #ffffff;
  --e-global-color-accent: #00b9cd;
  --e-global-color-white: #fff;
  --e-global-color-mostly-black: #050202;
  --e-global-color-dark-black: #0e0e11;
  --e-global-color-very-dark-black: #111114;
  --e-global-color-blue-black: #28282f;
  --e-global-color-grayish-blue: #545460;
  --e-global-color-dark-grayish-blue: #2d2d34;
  --e-global-color-light-gray: #7b7b88;
  --e-global-color-soft-red: #e7a9aa;
  --e-global-color-mostly-black-blue: #17171b;
  --e-global-color-very-dark-gray: #5b5b62;
  --e-global-color-mostly-black-red: #211a1a;
  --e-global-color-very-dark-grayish-blue: #636369;
}
