
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Frequently Asked Questions</span> </h3>
                    <div class="line"></div>
                </div>
            </div>
        </div>


        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  O que é a Elysium?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  É a nossa comunidade de gamers é um espaço online dedicado a reunir jogadores de diferentes plataformas e jogos para compartilhar experiências, discutir tópicos relacionados a jogos, formar equipes, participar de torneios e muito mais.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Quais jogos são suportados em nossa comunidade?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Nossa comunidade suporta uma ampla variedade de jogos, desde os mais populares até os mais nichados. Além disso, incentivamos nossos membros a sugerirem novos jogos que possam ser adicionados à comunidade.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Como faço para relatar comportamentos inadequados?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Se você encontrar comportamentos inadequados por parte de outros membros, encorajamos você a relatar o incidente imediatamente. Você pode entrar em contato com nossa equipe de suporte enviando um e-mail para elysiumssuporte@gmail.com. Analisaremos sua reclamação e tomaremos as medidas necessárias.</div>
              </div>
            </div>
          </div>